.filter .formula {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.filter .formula .orText, .filter .formula button {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.filter .formula+.control {
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    position: absolute;
    
    height: 100%;
}

.filter .formula+.control button {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.filter .control .topGroupBlock {
    display: block;
    padding: 0 25px;
}

.filter .control .bottomGroupBlock {
    display: block;
}

.filter .action button {
    display: block;
    width:65%;
    height:5%;
}
.filter .action  h3{
    font-size: 25px;
    font-family: calibri;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.filter .content {
}

.filter .control input[type='file'] {
    display: none;
}