.name {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

img.icon {
    -webkit-filter: grayscale(100%) brightness(50%);
}

.optionsBlock {
    padding: 0px;
}

.optionsBlock .headerBlock {
    background-color: rgb(80, 80, 80);
    padding: 12px;
    border-bottom: 1px solid gray;
    color: #00a3e8;
    -webkit-filter: none;
}

.optionsBlock .headerBlock img.icon {
    padding: 0px;
    -webkit-filter: none;
}

.optionsBlock .contentBlock {
    padding: 15px;
}

.optionsBlock .controlBlock {
    float: right;
}


