.result {
    position: relative;
}

.result.processing {
}

.result.text {
    text-align: center;
    padding: 25% 0;
    font-size: 35px;
    color: grey;
}

.loading {
    position: absolute;
    display: block;
    background: url('/images/loading-indicator.gif') center center no-repeat;
    opacity: 0.7;
    z-index: 10;
    background-size: 64px;
    left: 50%;
    top: 50%;
    height: 64px;
    width: 64px;
}