body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
}
.container {
    width: 284px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Segoe UI Light';
}
.container hr {
    margin: 0px;
}

.container .choose-types button {
    margin: 0px;
}

.title {
    font-size: 30;
}

.title img {
    vertical-align: top;
}

.welcome {
    font-size: 30;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 180, 250);
    margin-top: 15px;
}

.choose {
    text-align: center;
    margin-bottom: 20px;
}

#choose-types button{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(0, 180, 250);
}

.header  {
    color: gray;
    background-color: rgb(80, 80, 80);
    width: 100%;
    display: inline-block;
}

.container #account {
    color: gray;
    text-align: right;
    display: block;
}

.header img{
    float: left;
}

.header #account {
    position: absolute;
    margin-left: 90px;
    padding-top: 20px;
    float: left;
}

.header .nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

.header .nav a{
    color: white;
    float: none;
    margin-left: 10px;
}
.header .nav img{
    float: none;
}

#content {  
    height: 100%;
    width: 100%;
}
#left-block {
    width: 300px !important;
    border-right: 1px solid black;
    height: 100%;
    display: table-cell;
    padding: 20px;
}

#right-block {
    min-width: 300px;
    display: table-cell;
    padding: 20px;
}

/*AlexanderBochkarev*/

#radio {
	border: 1px solid #000;
	width: 60%; 
	height: 40%;
	margin-top: 3%;
}

#input {
	border: 1px solid #000;
	width: 60%; 
	height: 20%;
	margin-top: 3%;
	float: left;
}

#country {
	width: 70%; 
	height: 20%;
	margin-left: 5%;
	margin-top: 5%;
}

.country1  input{
	float: left;
	margin-left: 5%;
}


.langName {
	font-size: 17px;
	width: 50%; 
	height: 20%;
	margin-left: 5%;
	margin-top: 5%;
}

.lang {
	border: 1px solid #000;
	width: 27%; 
	height: 20%;
}

.lang1 {
	border: 1px solid #000;
	width: 70%; 
	height: 30%;
	margin-left: 5%;
	margin-top: 5%;
}

#optionsShow {
	border: 1px solid #000;
	width: 100%; 
	height: 107%;
	display: none;
}

#center {
	border: 1px solid #000;
	padding: 30px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 91%;
	height: 75%;
}

.optionsNew {
	padding-top: 1%;
	margin-left: 0.5%;
	float: left;
	color: #fff;
	overflow: hidden;
}

.popup { /* форма */
	padding: 5px 15px 15px;
	position: fixed;
	top: 100px;
	left: 50%;
	display: none;
	overflow: hidden;
	border: 1px solid #ccc;
	background: #fff;
	z-index: 100;
	width: 500px;
	border-radius: 15px;
}

.popup a.close { /* кнопка закрыть */
	width: 70px;
	height: 60px;
	display: block;
	text-indent: -9999px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: url("icon.jpg") 42% 33% no-repeat;
}

.helpForm {
	margin-left: -200px;
	width: 400px;
	height: 400px;
}

#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background: #000;
	opacity: .8;
}

#main {
	border: 1px solid #000;
	width: 100%; 
	height: 107%;	
}

.head {
	border: 1px solid #000;
	height: 7%;
	background: #444;
}

.icon {
	background: url("images.jpg") 50% 50% no-repeat;
	float: left; 
	width: 5%; 
	height: 100%;
}

.title {
	margin-left: 1%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	width: 11%; 
	height: 70%;
	font: 12pt sans-serif;
	color: #fff;
	float: left;
}

.button {
	padding-top: 1%;
	margin-left: 1%;
	float: left;
}

.button1 {
	padding-top: 10%;
	margin-left: 95%;
}

.button3 {
	padding-top: 0.05%;
	margin-left: 95%;
}

.iconHelp {
	border: 1px solid #000;
	background: url("images.jpg") 50% 50% no-repeat;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding-top: 1%;
	margin: 1%;
	margin-left: 55%;
	float: left;
	width: 1%; 
	height: 1%;
}

.help {
	padding-top: 1%;
	margin-left: 0.01%;
	float: left;
	color: #fff;
	cursor: pointer;
}

.iconOptions {
	border: 1px solid #000;
	background: url("images.jpg") 50% 50% no-repeat;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding-top: 1%;
	margin: 1%;
	margin-left: 2%;
	float: left;
	width: 1%; 
	height: 1%;
}

.options {
	padding-top: 1%;
	margin-left: 0.01%;
	float: left;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
}

#left {
	border: 1px solid #000;
	padding: 30px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 42%;
	float: left;
	height: 500px;
}

#right {
	border: 1px solid #000;
	padding: 30px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 42%;
	margin-left: 51%;
	height: 500px;
}