.filter .formula {
    padding: 20px;
    display: table-cell;
}

.filter .formula button {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.filter .formula image {
    display: block;
    background: url("/images/trigger.gif") no-repeat left bottom;
}

.filter .formula .orBlock+div {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.filter .formula+.control {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    display: table-cell;
}

.filter .formula+.control button {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.filter .formula .orBlock {
    display: block;
    padding: 5px;
    border: 1px gray solid;
}

.filter .formula .andBlock {
    display: block;
    padding: 5px;
    border: 1px gray double;
}

.filter .control .topGroupBlock {
    display: block;
    padding: 20px;
}

.filter .control .topBottomBlock {
    display: block;
}